# -----------------------------
# Virtual environments
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Environment variables
# -----------------------------
.env
.env.*

# -----------------------------
# Python cache files
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Build and distribution files
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# uv files
# -----------------------------
.python-version

# Uncomment this line if you don't want to track the lock file.
# uv.lock

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Operating system files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Jupyter Notebook files
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Pytest cache
# -----------------------------
.pytest_cache/

# -----------------------------
# Mypy cache
# -----------------------------
.mypy_cache/